{% if page.republished %}
<p class='attribution'>
  This content is copyright
  <a href='{{ page.republished.attribution.copyrightHolder.url }}'>{{
    page.republished.attribution.copyrightHolder.name
    }}</a>,
  republished
  {% if page.republished.attribution.license %}
  under
  <a href='{{ page.republished.attribution.license.url }}'>{{
    page.republished.attribution.license.name
    }}</a>.
  {% else %}
  with permission.
  {% endif %}
  {% if page.republished.originalUrl %}
  Originally published at <a href='{{ page.republished.originalUrl }}'>{{ page.republished.originalUrl }}</a>
  {% endif %}
</p>
{% endif %}
