<ul class="nav">
  {% for link in site.navigation %}
  <li {% if page.url == link.url %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
  {% endfor %}
</ul>

<ul class="nav pull-right">
    {% if site.email %}
    <li><a href="mailto:{{ site.email }}" title="Email"><i class="fa fa-lg fa-envelope social-navbar"></i></a></li>
    {% endif %}
    {% if site.keybase_user %}
    <li><a href="http://keybase.io/{{ site.keybase_user }}" title="Keybase Profile"><i class="fa fa-lg fa-key social-navbar"></i></a></li>
    {% endif %}
    {% if site.github_user %}
    <li><a href="http://github.com/{{ site.github_user }}" title="Github Profile"><i class="fa fa-lg fa-github social-navbar"></i></a></li>
    {% endif %}
    {% if site.twitter_user %}
    <li><a href="http://twitter.com/{{ site.twitter_user }}" title="Twitter Profile"><i class="fa fa-lg fa-twitter social-navbar"></i></a></li>
    {% endif %}
    {% if site.googleplus_user %}
    <li><a href="http://plus.google.com/{{ site.googleplus_user }}" title="Google+ Profile"><i class="fa fa-lg fa-google-plus social-navbar"></i></a></li>
    {% endif %}
    {% if site.facebook_user %}
    <li><a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook Profile"><i class="fa fa-lg fa-facebook social-navbar"></i></a></li>
    {% endif %}
    <li><a href="{{ site.url }}/atom.xml" title="Subscribe"><i class="fa fa-rss fa-lg social-navbar"></i></a></li>
</ul>
