article {
  line-height: 1.5;
  max-width: 40em;
  margin: auto auto;
  background-color: white;

  img {
    max-width: 100%;
  }

  p.attribution {
    background-color: ivory;
    padding: 1em;
    border-radius: .2em;
    border: 1px solid #b2b296;
  }
}
