article {
  line-height: 1.5;
  max-width: 40em;
  margin: auto auto;
  background-color: white;

  img {
    max-width: 100%;
  }

  p.attribution {
    background-color: ivory;
    padding: 1em;
    border-radius: .2em;
    border: 1px solid #b2b296;
  }

  .info {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
  }

  .danger {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }

}
