{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
  {% if post %}
    {% for category in post.categories %}
      <span class="badge"><a href='/blog/categories/{{ category }}'>{{ category }}</a></span>
    {% endfor %}
  {% else %}
    {% for category in page.categories %}
      <span class="badge"><a href='/blog/categories/{{ category }}'>{{ category }}</a></span>
    {% endfor %}
  {% endif %}
{% endunless %}
