{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
  {% if post %}
    {% for category in post.categories %}
      <a class='tag p-category' href='/blog/categories/{{ category }}'>{{ category }}</a>
    {% endfor %}
  {% else %}
    {% for category in page.categories %}
      <a class='tag p-category' href='/blog/categories/{{ category }}'>{{ category }}</a>
    {% endfor %}
  {% endif %}
{% endunless %}
