---
layout: page
footer: false
---

{% if page.tag %}
  {% assign posts = site.categories[page.tag] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div>
{% for post in posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  <div>
	<div>
	{% unless year == this_year %}
	  {% assign year = this_year %}
	    <h1>{{ year }}</h1>
	{% endunless %}
	</div>
	{% if post == site.posts.first %}
	<div>
	{% else %}
	<div>
	{% endif %}

	  <div>
	  {% include archive_post.html %}
	  </div>
	</div>
  </div>
{% endfor %}
</div>
